numpy>=1.26.0,<2.0.0
torchdata>=0.10.0
PyYAML>=6.0.1
pybind11>=2.11.1
datasets>=2.16.0
psutil>=5.9.6
tqdm>=4.62.1

transformers>=5.11.0
safetensors>=0.4.3
huggingface-hub>=1.5.0
tokenizers>=0.22.1
einops>=0.1.0
packaging>=22.0
